<ul>
    <div *ngFor="let item of items; let i = index" class="itemsList row">
        <input class="nameItem col-md-8" [class.risk]="item.completo" [value]="item.texto" (change)="changeElement($event, i)">

        <button class="ButtonDelete" (click)="deleteItem(i)"> Deletar</button>
        <button class="ButtonComplete" (click)="complete(i)"> {{item.completo ? 'Desmarcar' : 'Concluído'}}</button>

    </div>

</ul>
<div class="inputCss">
    <input [(ngModel)]="novaTarefa"/>
    <button class="addNew" (click)="addNew()"> Adicionar</button>
</div>
<div id="message"></div>
